body{
    background-color: black;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 250vh;
    border: 4px solid white;
    border-radius: 15px;
    transition: 5s;
}

.wrapper:hover{
    border: 4px solid rgb(71, 172, 195);
    box-shadow: 0 0 20px inset 0 0 20px;
}

.form{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.h1{
    text-align: center;
    font-family: "Inter", sans-serif;
    transition: 5s;
}

.wrapper .h1:hover{
    color: rgb(71, 172, 195);
    box-shadow: 0 0 20px inset 0 0 20px;
}

.name{
    width: 100%;
    height: 40px;
    padding: 3px;
    border-radius: 10px;
}

.wrapper .name:hover{
    border: 1px solid rgb(71, 172, 195);
    box-shadow: 0 0 20px inset 0 0 20px;
}

.btn{
    width: 100%;
    height: 40px;
    background-color: rgb(44, 64, 68);
}

.wrapper .btn:hover{
    background-color: rgb(71, 172, 195);
    border: 1px solid rgb(71, 172, 195);
    box-shadow: 0 0 20px inset 0 0 20px;
}